.artists-text-section {
    padding: 60px 15%; /* Пространство вокруг текста */
    text-align: center; /* Центрирование заголовка */
    
}

.text-section-title {
    font-size: 30px; /* Размер заголовка */
    font-weight: lighter; /* Жирный шрифт */
    margin-bottom: 25px; /* Отступ между заголовком и текстом */
    color: #333; /* Тёмно-серый цвет для заголовка */
    line-height: 1.5; /* Расстояние между строками */
    font-family: 'Georgia', serif; /* Элегантный шрифт */
    text-align: center; /* Заголовок выравнивается по центру */
}

.text-section-content {
    font-size: 20px; /* Размер текста чуть крупнее для читабельности */
    line-height: 1.8; /* Оптимальное расстояние между строками */
    color: #555; /* Средне-серый цвет для текста */
    margin-bottom: 20px; /* Отступ между абзацами */
    text-align: justify; /* Выравнивание текста по ширине */
    font-family: 'Arial', sans-serif; /* Простой, легко читаемый шрифт */
}

.text-section-content:last-child {
    margin-bottom: 0; /* Убираем отступ после последнего абзаца */
}
