.about-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    line-height: 1.6;
  }
  
  .about-us-header {
    text-align: justify;
    margin-bottom: 30px;
    
  }
  
  .about-us-header h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10vh;
    padding: 20px;
  }
  
  .about-us-header p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-content {
    margin-top: 30px;
    margin-left: 10px;
  }
  
  .about-us-content h2 {
    font-size: 19px;
    margin-top: 20px;
    margin-left: 40vh;
  }
  
  .about-us-content p {
    font-size: 19px;
    color: #555;
    margin-top: 10px;
    text-align: justify;
}