.artist-personal-page {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

.artist-header {
  font-size: 20px;
  margin-bottom: 20px;
  
}

.artist-header h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
  margin-left: 37vh;
  margin-top: 10vh;
  justify-content: center;
  
}

.artist-header p {
  font-size: 1.2rem;
  color: #666;
  margin-left: 37vh;
  margin-top: 10px;
  text-align: justify;
  
}

.artist-photos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  
}

.artist-photo-1 {
  width: 327px;
  height: 352px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.artist-photo-2 {
  width: 782px;
  height: 352px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-works {
  margin-top: 10vh;
  margin-left: 10vh;
  
}

.artist-works h2 {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 14vh;
  font-weight: lighter;
}

.works-grid {
  display: grid; /* Используем grid */
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 40px 50px; /* Промежутки между элементами */
  margin: 40px auto; /* Центрирование */
  padding: 0 19vh; /* Отступы по горизонтали */
  margin-left: 10vh;
}

.work-card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.work-card:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
}

.work-image {
  width: 100%;
  border-radius: 10px;
}

.work-title {
  font-size: 1rem;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.work-price {
  background-color: #f9f9f9;
}

.artist-footer {
  margin-top: 50px;
  text-align: center;
}

.subscribe {
  padding: 20px;
  border-radius: 10px;
  background-color: #003366;
  width: 1450px;
  height: 270px;
  margin-left: 20vh;
  text-align: center;
} 

.subscribe p {
  background-color: #003366;
  color: white;
}

.subscribe h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-right: 18vh;
  text-align: center;
  background-color: #003366;
  color: white;
  font-weight: lighter;
}

.subscribe form {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #003366;
}

.subscribe input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #003366;
  margin-top: 30px;
}